<!-- 下記はMDBの使用例のため、不要な場合は削除すること。JSとCSSも合わせて削除すること -->
<!-- https://mdbootstrap.com/docs/b4/jquery/javascript/google-maps/ -->
<!-- https://mdbootstrap.com/docs/b4/jquery/javascript/popovers/ -->

<!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
<!--Google Maps-->

<button type="button" class="btn btn-primary" data-toggle="popover" data-placement="top" title="popover on top"
  data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover
  on top</button>

<button type="button" class="btn btn-primary" data-toggle="popover" data-placement="right" title="popover on right"
  data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover
  on right</button>

<button type="button" class="btn btn-primary" data-toggle="popover" data-placement="bottom" title="popover on bottom"
  data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover
  on bottom</button>

<button type="button" class="btn btn-primary" data-toggle="popover" data-placement="left" title="popover on left"
  data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover
  on left</button>

